<div class="row hide-on-small-only" style="background:#fafafa;min-height:80vh">
  <div class="col l3 hide-on-med-and-down white">
    <app-filter></app-filter>
  </div>
  <div class="col 12 l9 m12 container white right" style="min-height:80vh;">
    <mat-toolbar class="secondary white-text">Electronics<mat-icon>chevron_right</mat-icon>SmartPhones</mat-toolbar>
<ul>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>

  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
  <li>
    <app-item></app-item>
  </li>
</ul>

<div class="container center-align">
<button mat-raised-button  type="button" name="button" class="primary white-text" style="height:3.2em;width:10em;">Load More...</button>
</div>
  </div>
</div>

<mat-toolbar class=" hide-on-med-and-up">
<mat-toolbar-row class="primary white-text">SmartPhones</mat-toolbar-row>
</mat-toolbar>

<div class="row">
  <button type="button" mat-raised-button class="col s6 white black-text" name="button" style="height:3.4em;">Filter</button>
  <button type="button" mat-raised-button class="col s6 white black-text" name="button" style="height:3.4em;">Sort By</button>

</div>
<div class="row hide-on-med-and-up">
  <div class="col s12 container">
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    
  </div>
  <mat-divider></mat-divider>
</div>
