<div class="small__container">
  <mat-toolbar class="z-depth-1">
    <span class="arrow_back">
      <button type="button" routerLink="/home" class="black-text white" mat-icon-button name="button"><mat-icon>arrow_back</mat-icon></button>
    </span>
    <input type="text" class="browser-default small__search" matInput name="" placeholder="search product and more..." value="">
    <span>
      <button type="button" class=" black-text white" mat-icon-button name="button"><mat-icon>search</mat-icon></button>
    </span>
  </mat-toolbar>

</div>
