<mat-card style="max-width:13em;height:20em;margin-right:10px;margin-bottom:10px;" class="hoverable hide-on-small-only">

  <mat-card-header>
    <mat-card-title>{{100000 | currency: 'GBP'}}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
      <mat-chip class="red white-text">Easy Shop</mat-chip>
    </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <img src="../../assets/fashion1.jpg" class="responsive-img" style="max-height:13em;" alt="">
  </mat-card-content>
</mat-card>

<mat-card class="row hide-on-med-and-up" style="height:8em">
  <div class="col s4">
    <img src="../../assets/fan1.jpg" class="responsive-img" style="max-height:6em;" alt="">
  </div>
  <div class="col s8">
    <li>EXtro Demino Fan with...</li>
  </div>
</mat-card>
