

.primary_text{
  color: #2962ff;
}
.primary{
  background: #2962ff;
}

.secondary{
  background: #ff6f00;
}
.secondary_text{
  color: #ff6f00;
}
mat-form-field{
  font-family: sans-serif;
  font-weight: 500;
}
