<div class="main_container">
<br>
<br>
<form class="" method="post">
  <mat-form-field>
    <input type="text" matInput  class="browser-default"  placeholder="Enter Username or email" value="">
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput class="browser-default" placeholder="password" value="">
  </mat-form-field>
<br>
<br>
  <button type="submit" class="secondary bold_text white-text" mat-raised-button style="width:50%;margin-left:25%;height:3.2em;"> Login </button>
<br>
<br>
  <mat-divider></mat-divider>

  <br>
  <button type="button" (click)="register()" class="primary_text white" mat-raised-button style="width:50%;margin-left:25%;height:3.2em;"> Register </button>

  <button type="button" class="primary white-text" mat-raised-button style="width:50%;margin-left:25%;height:3.2em;"> Open A Shop</button>

</form>
</div>
