<div class="main_container">

  <mat-toolbar class="myblue">
    <button routerLink="/home" mat-icon-button class="white-text myblue"><mat-icon>arrow_back</mat-icon></button>
    <span class="white-text">notifications</span>

  </mat-toolbar>

  <div class="row" style="height:auto;padding-bottom:20px;">
    <div class="col l3 m3 hide-on-small-only">

    </div>

    <div class="col s12 l6 m6">
      <div class="card white">
        <div class="card-content">
        <span style="text-overflow:hidden;text-overflow:ellipsis;">  welcome to mallcart this is where all latest product and updates will be listed</span>
        </div>
        <mat-divider></mat-divider>
        <div class="card-actions">
          <button mat-icon-button class="white black-text"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="col l3 m3 hide-on-small-only">

    </div>

  </div>

</div>
