<div class="main__account__container">
<mat-toolbar class="myblue">
<button mat-icon-button class="myblue white-text"><mat-icon>arrow_back</mat-icon></button>
</mat-toolbar>
<div class="row myblue" style="height:13em">
  <div class="col s1 l4 m4">

  </div>
  <div class="col s10 l4 m4 center-align">
    <img src="../../assets/account.png" class="responsive-img"  alt="account">
    <div class="row">

      <div class="col s12 container">

      
      </div>

    </div>
  </div>
  <div class="col s1 l4 m4">

  </div>
</div>
</div>
